language: php

php:
  - 5.2
  - 5.3
  - 5.4

before_script:
  - mv ../cakephp-codesniffer ../cakephp_codesniffer && cd ../cakephp_codesniffer
  - pear install PHP_CodeSniffer
  - phpenv rehash

script:
  - phpunit

notifications:
  email: false
