language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3

sudo: false

matrix:
  fast_finish: true

  include:
    - php: 7.2
      env: PHPCS=1

before_install:
  - phpenv config-rm xdebug.ini

before_script:
  - composer install --prefer-source

script:
  - if [[ $PHPCS != 1 && $TRAVIS_PHP_VERSION = 7.1 ]]; then composer run-script test-coverage --timeout=0; fi
  - if [[ $PHPCS != 1 && $TRAVIS_PHP_VERSION != 7.1 ]]; then composer test; fi
  - if [[ $PHPCS = 1 ]]; then composer cs-check; fi

after_success:
  - if [[ $PHPCS != 1 && $TRAVIS_PHP_VERSION = 7.1 ]]; then bash <(curl -s https://codecov.io/bash); fi

cache:
    directories:
        - $HOME/.composer/cache

notifications:
  email: false
