<?xml version="1.0"?>
<ruleset name="App">
    <description>App Coding Standard</description>
    <!-- CakePHP coding standard -->
    <rule ref="vendor/cakephp/cakephp-codesniffer/CakePHP"/>
</ruleset>
