<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
	 colors="false"
	 convertErrorsToExceptions="true"
	 convertNoticesToExceptions="true"
	 convertWarningsToExceptions="true"
	 mapTestClassNameToCoveredClassName="false"
	 strict="false"
	 verbose="false"
	 bootstrap="./Loadsys/tests/bootstrap.php">
	<testsuites>
		<testsuite name="phpcs">
			<file>./Loadsys/tests/LoadsysStandardTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>